body{

    font-family: 'Roboto Mono', monospace;
font-family: 'Sora', sans-serif;
}


.header-div{

    display: flex;
    background-color: grey;


}

.div-one{


    margin-left: 250px;
    margin-top: 50px;
}

.div-two{

    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
}


.header-anchor{

    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
}

#about{

    text-align: center;
    margin-top: 20px;
}

.about-me{


    display: flex;
}

.about-div1{

    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 20px;


}


.about-div2{

    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;

}



.skills-heading{

    text-align: center;
    margin: 10px;
}

.my-skills{

    display: flex;
}

.html-div{

    margin-left: 50px;
    width: 50%;



}


.react-div{

    margin-left: 200px;
    width: 50%;
    margin-right: 30px;
    


}



.skill-container{

    width: 100%;
    background-color: rgb(95, 92, 92);
    

}

.skill-html{

    width: 70%;
    background-color: green;
    padding: 10px;
    
}

.skill-css{

    width: 60%;
    background-color: orange;
    padding: 10px;


}

.skill-bootstrap{

    width: 50%;
    background-color: red;
    padding: 10px;
}

.skill-java{

    width: 80%;
    background-color: yellow;
    padding: 10px;
}



.skill-react{


    width: 80%;
    background-color: yellow;
    padding: 10px;
}


.skill-wordpress{


    width: 80%;
    background-color: blue;
    padding: 10px;
}


.skill-python{

    width: 90%;
    background-color: burlywood;
    padding: 10px;

}


.skill-django{

    width: 90%;
    background-color: orangered;
    padding: 10px;

}


/* portfolio header class*/

.portfolio-header{

    text-align: center;
    margin: 20px;

}


    /*portfolio boxshadow class  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
.portfolio-boxshadow
{
    display: flex;


}


.portfolio-div
{


    margin: 20px;
    padding: 30px;
    border-left: 5px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;

    box-shadow: 1px 10px 10px grey;
    
   
    
   
}



